tbears==1.3.0
aiohttp>=3.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
eth-keyfile>=0.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=7.16.3 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
websockets>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability